@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
  animation: colorChange 3.5s infinite alternate;
  /* overflow: hidden */
}

@keyframes colorChange {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #000622;
  }
}

.formContactBG {
  animation: colorChangeForm 3.5s infinite alternate;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #5eead4 inset !important;
  box-shadow: 0 0 0 30px #5eead4 inset !important;
  -webkit-text-fill-color: #333 !important;
}

.legend {
  background-color: #000d36 !important;
  opacity: 0.1 !important;
}

.carousel-root{
  overflow: hidden;
  border-radius: 20px;
}

.carousel .slide .legend{
  top: 20% !important;
  bottom: unset !important;
}

@media(max-width: 426px){
  .carousel .slide .legend{
    top: 5% !important
  }
}

.carousel-root img{
  border-radius: 20px;
  transition: .5s;
}

.carousel-root:hover img{
  filter: brightness(0.5);
}

.carousel-root:hover .legend {
  opacity: 1 !important;
  scale: 1.05;
  filter: brightness(1)
}

input:focus {
  border-color: #5eead4 !important;
  outline: none;
}

@keyframes colorChangeForm {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #9fecff;
  }
}
