.swiper-pagination-bullet{
  background-color: #00c7ff !important;
  opacity: .5 !important;
  transition: 0.3s !important;
  margin-right: .625rem !important;
}

.active-bullet {
  background-color: #00c7ff;
  opacity: 1 !important;
  transition: 0.3s;
  height: 16px;
  border-radius: 8px;
}
