.swiper-pagination-bullet{
  background-color: #5eead4 !important;
  opacity: .5 !important;
  transition: 0.3s !important;
  margin-right: .625rem !important;
}

.active-bullet {
  background-color: #5eead4;
  opacity: 1 !important;
  transition: 0.3s;
  height: 16px;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem vertical */
}

::-webkit-scrollbar-thumb {
  background-color: #5eead4; /* Cor do "ponteiro" da barra de rolagem */
  border-radius: 6px; /* Raio das bordas do "ponteiro" */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5eead4; /* Cor do "ponteiro" da barra de rolagem ao passar o mouse */
}

/* Gecko (Firefox) */
html {
  scrollbar-width: thin; /* Largura da barra de rolagem vertical */
}

body {
  scrollbar-color: #5eead4 #fff; /* Cor do "ponteiro" e fundo da barra de rolagem */
}